.alert {
    background-color: #26687f ;
}

.alert.alert-info {
    color: #fff ;
}

.btn {
    background-color: #222 ;
    background-image: linear-gradient(to bottom, #444, #555) ;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 2px rgba(0, 0, 0, 0.05) ;
    color: #ccc ;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) ;
}

.btn-danger {
    background-color: #d9534f ;
    background-image: none ;
}

.dropdown-menu {
    background-color: #121212 ;
}

.dropdown-menu>li>a {
    color: #fff ;
}

.form-search .btn {
    background-color: transparent ;
    background-image: url("http://theoldreader.com/assets/ico-search.png") ;
    background-position: center center ;
}

.home-page dl dd p a {
    color: #ccc ;
}

.label.label-transparent {
    color: #999 ;
}

.loader {
    background-color: #333 ;
}

.nav-list li a {
    color: #ccc ;
}

.nav-list li a:hover {
    color: #26687f ;
}

.nav-list li.active a {
    color: #26687f ;
}

.nav-list li.nav-header a:hover {
    color: #bbb ;
}

.nav-list li.social.active a {
    color: #da3f2d ;
}

.nav-list li.social.active a:hover {
    color: #26687f ;
}

.navbar-default .navbar-nav > .open > a, .dropdown .open {
    background-color: #222 ;
}

.navbar-default .navbar-nav > li > a.social:hover {
    color: #da3f2d ;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #26687f ;
}

.navbar-fixed-top {
    background-color: #232323;
    border-bottom-color: #000 ;
}

.navbar-nav li a {
    color: #ddd ;
}

.page-header {
    border-bottom: 1px solid #222 ;
}

.post .content {
    color: #ccc ;
}

.post blockquote {
    background-color: #222 ;
}

.post h3 a {
    color: #ccc ;
}

.post.unread {
    border-left: 10px solid #26687f ;
    padding-bottom: 0px ;
    padding-left: 11px ;
    padding-right: 10px ;
    padding-top: 6px ;
}

.post.unread .content {
    color: #888 ;
}

.reader .subscribe-button-container .bg {
    background-color: #121212;
}

.reader .subscribe-fixed-top .bg {
    background: none repeat scroll 0 0 #333 ;
}

.subscribe .btn-primary {
    border: 1px solid #191919 ;
}

.well {
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c ;
}

body {
    background-color: #121212;
    color: #999999 ;
    font-family: Roboto ;
}

div.content-body p a {
    color: #7ca4b2;
}

div.content-body ul li a {
    color: #7ca4b2;
}

img {
    margin-bottom: 15px ;
    margin-top: 5px ;
}

legend {
    color: #ddd ;
}

nav.nav li.divider-vertical {
    background-color: #222 ;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #444 ;
    border-bottom-color: #000 ;
    border-left-color: #000 ;
    border-right-color: #000 ;
    border-top-color: #000 ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset ;
    color: #fff ;
}

.reader .floating {
    background: #121212 ;
}

.post {
    padding-bottom: 0 ;
    padding-left: 20 px;
    padding-right: 10 px;
    padding-top: 4 px;
}

.nav-list li.nav-header a {
    color: #666 ;
}

.hero-unit {
    background-color: #121212 ;
}

